* {
    font-family: 'Lato', sans-serif;
}
body{
    background: #000;
}
.upper{
    text-transform: uppercase;
}

.main_section{
    margin: 5rem auto;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.main_section::before {
    content: url(../img/vliegveld_2.png);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 30%;
}


.principal_title{
    color: #ffffff;
    font-weight: 700;
}
.subtitle{
    margin-left: 6rem;
}

.box{ 
    color: #ffffff;
}

.box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: -1;
}

.box_inner{
    background: rgba(0, 0, 0, .7);
    padding: 2rem 3rem ;
}

/*tabs*/
a.nav-link,
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
    color: #ffffff ;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #fff;
}

/*form*/
.input-group-text {
    color: #909498;
    background-color: #ffffff;
    border: 1px solid #ced4da;
}

#flights{
    padding: 3rem 0;
}

/** radio btn **/
.travel_type label.radio-inline{
    margin-right: 20px;
}

.travel_type label.radio-inline input{
    margin-right: 10px;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #fff;
    background-color: #fff;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background: #909498;
    border-radius: 100%;
    width: 10px;
    left: -21px;
    height: 10px;
    top: 7px;
}

/** input addons**/
.has-feedback{
    max-width: 19%;
}

.form-control-feedback {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #909498;
    border-right: 1px solid #ced4da;
    width: 36px;
    display: flex;
    justify-content: center;
  }
  
  .form-control {
    padding-left: 2.5rem !important;
  }
  

  .advanced_options{
      padding: 3rem 0;
  }

  .advanced_options a{
      color: #ffffff;
  }

  .advanced_options a:hover{
      opacity: 0.7;
      color: #fff;
      text-decoration: none;
  }

/*desktop*/
@media (min-width: 1100px) {
.form-control {
    border-radius: 0;
    }
}
/*ipad*/
@media (max-width: 1100px) {

}

@media (max-width: 768px) {
/*code for mobile here*/
    .custom-radio,
    .has-feedback,
    .send-btn{
        max-width: 100%;
        width: 100%;
        margin: 5px auto;
    }
    .send-btn button{
        width: 100%;
        border-radius: .25rem !important;
    }
}

@media (max-width: 480px) {
    .has-feedback,
    .send-btn{
        max-width: 100%;
        width: 100%;
        margin: 5px auto;
    }
    .send-btn button{
        width: 100%;
        border-radius: .25rem !important;
    }
}


  /**** Resultados ****/
.dl-horizontal{
    margin: 1rem auto;
    border-top: 1px solid #fff;
    padding: 2rem 1rem;
}

dd, dt {
    line-height: 1.42857143;
}
dd::before,
dd::after{
    display: table;
    content: " ";
}
dd::after{
    clear: both;
}
#backHome{
    color: #fff;
}

@media (min-width: 768px){
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-horizontal dd {
        margin-left: 180px;
    }
}